* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: #f4f4f4;
  color: #333;
}

/* HERO SECTION */
.hero {
  height: 70vh;
  background: url('https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1200&q=80') center/cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(20, 60, 20, 0.45);
}

.hero-content {
  z-index: 2;
  text-align: center;
  color: rgb(0, 0, 0);
}

.hero-content h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  animation: fadeSlide 1.5s ease-out;
}

.hero-content p {
  font-size: 1.2rem;
  margin-top: 10px;
  opacity: 0.9;
  animation: fadeSlide 2s ease-out;
}

/* ABOUT */
.about {
  padding: 80px 12%;
  text-align: center;
}

.about h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.7;
  max-width: 700px;
  margin: auto;
}

/* PROCESS GRID */
.process {
  padding: 80px 10%;
  background: #acb689;
}

.process h2 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 40px;
}

.process-grid {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: rgb(131, 90, 64);
  padding: 30px;
  border-radius: 12px;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transform: translateY(40px);
  opacity: 0;
  transition: 0.6s ease-out;
}

.card img {
  width: 80px;
  margin-bottom: 20px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

/* VISION */
.vision {
  background-color: #71775a;
  padding: 80px 12%;
  text-align: center;
}

.vision h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.vision p {
  max-width: 650px;
  margin: auto;
  font-size: 1.15rem;
  line-height: 1.7;
  opacity: 0.85;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #1a1a1a;
  color: white;
  font-size: 0.9rem;
}

/* ANIMATIONS */
@keyframes fadeSlide {
  from { opacity: 0; transform: translateY(20px);}
  to   { opacity: 1; transform: translateY(0);}
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
