* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: #67678d;
  color: #222;
}

/* HEADER */
.header {
  padding: 60px 10%;
  text-align: center;
  background: linear-gradient(rgba(144, 153, 101, 0.6), rgba(0, 50, 0, 0.7)),
    url('https://images.unsplash.com/photo-1528323273322-d81458248d40?auto=format&fit=crop&w=1500&q=80') center/cover;
  color: white;
}
.header *{
  color: black!important;
}
.header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: black;
}

/* FILTERS */
.filters {
  padding: 40px 10%;
  color: black;;
  text-align: center;
}

.filter-box {
  display: flex;
  gap: 80px;
  justify-content: center;
  color: black;
}

.filter-box select,
.filter-box button {
  padding: 12px 18px;
  border-radius: 8px;
  border: 1px solid #bbb;
  color: black;
}

/* COUNTERS */
.counters {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 50px 0;
  color: black;
}

.counter-box {
  text-align: center;
  background: rgb(196, 142, 117);
  padding: 30px 40px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: black;
}

.counter {
  font-size: 2.5rem;
  color: black;
}

/* CHART SECTION */
.charts-section {
  padding: 50px 10%;
  text-align: center;
  color: black;
}

#pieChart {
  margin-top: 20px;
  max-width: 180px !important;  /* Force smaller size */
  max-height: 180px !important;
}

/* FLOWCHART */
.flowchart {
  padding: 80px 10%;
  background: #a39074;
  text-align: center;
  color: black;
}

.flow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  color: black;
}

.flow-box {
  background: rgb(205, 206, 145);
  padding: 20px 40px;
  border-radius: 10px;
  width: 260px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  color: rgb(43, 20, 5);
}

.arrow {
  font-size: 1.5rem;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: black;
}
