body{
    background-color: var(--secondary-color);
    height: 100%;
    width: 100%;
    
    background: linear-gradient(135deg, #b5c17b 0%, #d3dab5 100%);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Custom Gradients */
.bg-main {
    background: linear-gradient(135deg, #b5c17b 0%, #d3dab5 100%);
}

.btn-gradient {
    background: #bea389;
    transition: all 0.3s ease;
}
.btn-gradient:hover {
    background: #0096c7;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 180, 216, 0.4);
}


/* Blob Shapes */
.shape-yellow {
    fill: url(#gradYellow);
}
.shape-blue {
    fill: url(#gradBlue);
}

/* Search Bar Icon placeholder */
.search-icon {
    color: #a0aec0;
}

/* Dashed Line Animation */

.glass-nav {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);

}
nav{
    position: sticky!important;
    top: 0px!important;
    background-color: transparent!important;
    backdrop-filter: blur(10px)!important;
    color: white;
}
.nav-link span{
    color: white;
    transition: all 0.2s ease-in-out;

}
.nav-link span:hover{
    transform: translateY(-2px);
    color: cyan;
    cursor: pointer;

}